.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   border-width: 10px;
   border-color: white;
   border-style: ridge;
   border-color: aqua;
}
#button{
    border-width: 10px;
   border-color: white;
   border-style:dashed;
   border-color: rgb(249, 195, 79);
}

